/* Instead of using links in an html file, we can also import the link directly into a css file as follows: */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {

    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

/* input, button {

    font: inherit;
    
} */

/* p {

   text-decoration: line-through;
    text-transform: capitalize;
    text-align: left;
    text-indent: 5em;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    font-weight: 200;
    font-style: italic;

} */